[submodule "LivePopularTimes"]
	path = LivePopularTimes
	url = https://github.com/JoelMorel/LivePopularTimes
[submodule "populartimes"]
	path = populartimes
	url = https://github.com/JoelMorel/populartimes
[submodule "lib/LivePopularTimes"]
	path = lib/LivePopularTimes
	url = git://github.com/JoelMorel/LivePopularTimes.git
