.hotspots-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
}

.nothot-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
}

.location {
  text-decoration: underline;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
}

.container .results-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.container .results-container .spot-box {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 20px;
}

.container .results-container .spot-box .bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Mobile code starts here */

@media only screen and (max-width: 960px) {
  .container .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .container .results-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}
