.hotspots-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
}

.nothot-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;
}

.location {
  text-decoration: underline;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
}

.container .hotspots-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .nothot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ***************Heat Map CSS******************  */
.map-wrapper {
  margin-top: 2rem;
}

#floating-panel {
  background-color: inherit;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#map {
  height: 500px;
  width: inherit;
}
/* Mobile code starts here */

@media only screen and (max-width: 960px) {
  .container .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .container .results-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}
