<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>About Us</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <h1>About Page</h1>
    <h2>Why was this created?</h2>
    <p>This is idea was concieved at the height of the pandamic...</p>

    <h2>How do I use the app?</h2>
    <p>
      First, in the search bar enter the city name you want to search for. It
      can be any city, neighborhood, or zipcode that is available on Yelp.
      Second, from the dropdown menu select the type of venue you are interested
      in visting.
    </p>
  </body>
</html>
