<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Tipsy Tips</title>
  </head>
  <body>
    <!-- Nav Bar Code -->

    <!-- Nav Bar Code End -->

    <!-- Body Code -->

    <div class="container">
      <div class="logo">
        <img
          src="../static/img/38533b97-88e0-4c2e-853a-e091a5327d2f_200x200.png"
        />
      </div>
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Location:</h3>
          <select name="city">
            <option value="">Select a Location</option>
            <optgroup label="New York City">
              <option value="Manhattan">Manhattan</option>
              <option value="Brooklyn">Brooklyn</option>
              <option value="Queens">Queens</option>
              <option value="Bronx">Bronx</option>
              <option value="Staten Island">Staten Island</option>
            </optgroup>
            <!-- <option value="NYC">New York City</option> -->
            <option value="AC">Atlantic City</option>
            <option value="RVC">Rockville Centre</option>
          </select>
        </div>

        <div class="form-group">
          <h3>Search:</h3>
          <input
            type="text"
            name="location"
            placeholder="Search for a location..."
          />
        </div>

        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>

    <!-- Body Code End-->

    <footer></footer>

    <script src="../js/app.js"></script>
  </body>
</html>
