<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
    <title>Tipsy Mayflower</title>
  </head>

  <body>
    <!-- Nav Bar Code -->
    <nav class="nav">
      <div class="nav-container">
        <div class="logo">
          <a href="/"
            ><img
              src="/static/img/38533b97-88e0-4c2e-853a-e091a5327d2f_200x200.png"
              alt=""
          /></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>

    <!-- Nav Bar Code End -->

    <!-- Body Code -->
    <section class="main">
      <div class="container">
        <div class="logo">
          <img
            src="../static/img/38533b97-88e0-4c2e-853a-e091a5327d2f_200x200.png"
          />
        </div>

        <form action="/submit" method="POST" name="form-location">
          <div class="form-group">
            <input
              type="text"
              name="location"
              placeholder="Search by city,area,neighborhood..."
            />
          </div>

          <h3 style="font-weight: bolder">OR</h3>

          <div class="form-group">
            <select name="city">
              <option value="">Select a Location</option>
              <optgroup label="New York">
                <option value="Manhattan">Manhattan</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Queens">Queens</option>
                <option value="Bronx">Bronx</option>
                <option value="Staten Island">Staten Island</option>
                <option value="Rockville Centre">Rockville Centre</option>
                <option value="Freeport">Freeport</option>
              </optgroup>
              <option value="Atlantic City">Atlantic City</option>
              <option value="Las Vegas">Las Vegas</option>
              <option value="Miami">Miami</option>
              <option value="San Jose">San Jose</option>
            </select>
          </div>

          <input type="submit" value="Search" class="btn" />
        </form>
      </div>
    </section>

    <footer>
      <span>Copyright &copy2020</span>
    </footer>

    <!-- Body Code End-->

    <!-- Scripts Start Here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $(".nav").addClass("affix");
          console.log("OK");
        } else {
          $(".nav").removeClass("affix");
        }
      });
    </script>

    <script src="../static/js/app.js"></script>
  </body>
</html>
