<!-- Nav Bar Code -->
<nav class="nav">
  <div class="nav-container">
    <div class="logo">
      <a href="/"
        ><img
          src="{{ url_for('static', filename='img/d304cb2aa8604c0baf161bb63c28e76b.png') }}"
          alt="WhatIsLit Logo"
      /></a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      {% if is_logged_in %}
      <div class="user-info">
        <span class="user-name">{{ user_email }}</span>
      </div>
      {% endif %}
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>
<!-- Nav Bar Code End -->
